@import '../../../styles.scss';

:host {
    display:block;
    background-color: $base-dark;   
}

.header {
    display: block;
    background-color: $base-dark;
    height: 66px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
}

p{
    color: white;
    font: 16px "Jost", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    font-style: normal;
    line-height: 23px;
    margin: 0px;
    vertical-align: center;
}

.img{
    width: fit-content;
    max-width: fit-content;
}

.image {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

a{
    font: 16px "Jost", sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 23px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.name:hover{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;

    :hover{
        color: $base-gold;
        text-decoration: underline;
    }
}

/* Media queries para dispositivos de tela menores */

@media only screen and (max-width: 800px) {
    .container {
        padding: 0 20px; /* Adapta o padding para evitar que os elementos sejam cortados */
    }

    .row {
        flex-direction: row; /* Altera a direção dos elementos para empilhá-los verticalmente */
    }

    .name{
        text-align: left;
    }

    .col {
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
        padding-left: 10px 0; /* Adiciona espaçamento entre os elementos */
        text-align: left; /* Centraliza o texto */
    }

    .links {
        margin-left: auto;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0 20px; /* Adapta o padding para evitar que os elementos sejam cortados */
    }

    .row {
        flex-direction: row; /* Altera a direção dos elementos para empilhá-los verticalmente */
    }

    .col {
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
        padding-left: 10px 0; /* Adiciona espaçamento entre os elementos */
        text-align: center; /* Centraliza o texto */
    }

    .links {
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {

    .name{
        display: none;
        
    }

}