<div class="header">
    <div class="container" style="max-width: 1200px; padding: 0;">
        <div class="row" >
            <div class="col img" style="max-width: fit-content;">
                <a rel="noopener noreferrer">
                    <img class="image" src="assets/icons/favicon.png"></a>
            </div>
            <p class="col name" style="height: fit-content; padding: 0px; margin-top: 14px;"> Paulo Pontes Portfolio</p>
            <div class="col links" style="margin-top: 14px;">
                <ul class="row" style="max-width: fit-content; margin-left: auto;">
                    <li class="col" style="max-width: fit-content;  margin-right: 10px;">
                        <a href="/#recent-projects" rel="noopener noreferrer"> Projects</a>
                    </li>
                    <li class="col" style="max-width: fit-content;  margin-right: 10px;">
                        <a href="/#recent-experience" rel="noopener noreferrer"> Experience</a>
                    </li>
                    <li class="col" style="max-width: fit-content;">
                        <a href="/assets/PauloPontesCV.pdf" rel="noopener noreferrer" target="_blank"> CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>