<div class="header">
    <div class="container" style="max-width: 1200px; padding: 0;">
        <div class="row" style="width: 100%; margin-left: 0px;">
            <div class="col img" style="max-width: fit-content; padding-left: 0px; padding-right: 10px;">
                <a href="/" rel="noopener noreferrer">
                    <img class="image" src="assets/icons/favicon.png"></a>
            </div>
            <a href="/" class="col name" style="height: fit-content; padding: 0px; margin-top: 14px; max-width: fit-content;"> Paulo Pontes Portfolio</a>
            <div class="col links" style="max-width: fit-content; margin-top: 14px; margin-left: auto;" >
                <ul class="row" style="max-width: fit-content;">
                    
                    <li class="col">
                        <a href="/" rel="noopener noreferrer" *ngIf="showMainPage"> Main Page</a>
                    </li>
                    <!-- <li class="col" style="padding-right: 0px;">
                        <a href="/assets/PauloPontesCV.pdf" rel="noopener noreferrer" target="_blank"> CV</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>