<div class="coat">

<app-header></app-header>
<div class="big">
  <div class="container">
    <div class="col" style="padding-top: 50px; padding-left: 0px;">
      <label class="button label" style="margin-right: 10px;">IMPORT PLAYER FILE
        <input type="file" (change)="onImportFile($event)" #fileInput accept=".csv" />
      </label>
      <!--       <button class="button" style="margin-right: 10px;">IMPORT PLAYER</button>-->

      <button class="button" (click)="openInstructions()">INSTRUCTIONS</button>
    </div>
    <input class="filter" (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">

    <div class="table">
      <mat-table matSort [dataSource]="dataSource" class="mat-table mat-elevation-z8 ">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="club">
          <th mat-header-cell *matHeaderCellDef> Club </th>
          <td mat-cell *matCellDef="let element"> {{element.club}} </td>
        </ng-container>


        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="bestRating">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Best Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.bestRating}} </td>
        </ng-container>

        <ng-container matColumnDef="totalAttributes">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Total Attributes </th>
          <td mat-cell *matCellDef="let element"> {{getTotalAttributes(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-button mat-cell *matCellDef="let element">
            <button class="detailButton" mat-button (click)="openDetails(element)"> Details</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"
          style="text-align: center; background-color: #14242E; color: white;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons
        style="background: transparent; margin-top: -10px"></mat-paginator>
    </div>
  </div>
</div>
<app-footer></app-footer>
</div>
