<app-header style="position: fixed;"></app-header>
<div class="container" style="padding-top: 100px; max-width: 1200px;">
    <div class="row topRow">
        <div class="col leftcol">
            <h1 style="margin-right: auto; width: fit-content; margin-left: 0px; text-align: justify;" class="row">Paulo Pontes</h1>
            <h3 style="margin-right: auto; width: fit-content; margin-left: 0px; text-align: justify;" class="row">Software Engineer</h3>
        </div>
        <div class="col midcol">
            <div class="col hero-img" [ngClass]="{'blur-overlay': isBlurred, 'withoutBlur': !isBlurred}">
                <img class="image" src="assets/icons/hero-image.png" height="150">
            </div>
            <div>
                <button [ngClass]="{'blur-btn': isBlurred, 'withoutBlur-btn': !isBlurred}"
                    (click)="toggleBlur()">{{showBlur}}</button>
            </div>
        </div>
        <div class="col rightcol">
            <p class="contact-info"><span class="emoji">📞</span> +351 916374149</p>
            <p class="contact-info"><span class="emoji">✉</span> {{email}}</p>
            <p class="contact-info"><span class="emoji">📍</span> Porto, Portugal</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h2>PROFILE</h2>
        <p style="text-align: justify;">Proactive and highly adaptable software developer with a strong track record of delivering high-quality
            solutions. Skilled in collaborating with multidisciplinary teams to design, develop, and implement
            innovative software solutions, demonstrating autonomy, versatility, and a deep understanding of best
            practices across various technologies.</p>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h2>PROFESSIONAL EXPERIENCE</h2>
        <h3>Software Developer - Natixis in Portugal</h3>
        <p>📅 10/2021 - Ongoing 📍 Porto, Portugal</p>
        <ul>
            <li>Maintenance of the full stack application developed in the internship</li>
            <li>Migration of two different applications from JSF and Java8 to Angular and Java17</li>
            <li>Maintenance of a full stack application developed in Java8 and Angular</li>
            <li>Main technologies used: Java, SpringBoot, Angular and ORACLE SQL, MongoDB, Node</li>
        </ul>
        <h3>Internship - Natixis in Portugal</h3>
        <p>📅 03/2021 - 07/2021 📍 Porto, Portugal</p>
        <ul>
            <li>Creation of a full stack application that interacts with a Mainframe application</li>
            <li>Development of a Jenkins pipeline for the application</li>
            <li>Main technologies used: Node, Angular and MongoDB</li>
        </ul>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h2>TECHNICAL SKILLS</h2>
        <div class="skills">
            <span>Java</span> <span>SpringBoot</span> <span>Hibernate</span> <span>SQL</span>
            <span>Angular</span> <span>Node</span> <span>Jenkins</span> <span>MongoDB</span>
            <span>TypeScript</span> <span>Cypress</span>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h2>SOFT SKILLS</h2>
        <div class="skills">
            <span>Teamwork</span>  <span>Proactivity</span> <span>Communication</span> 
            <span>Reactivity</span> <span>Work Ethic</span> <span>Problem Solving</span> <span>Self-Management</span>
            <span>Learning</span>
        </div>
    </div>

    <div class="divider"></div>
    

    <div class="section">
        <h2>EDUCATION</h2>
        <p><strong>Bachelor's Degree in Software Engineering</strong> - Instituto Superior de Engenharia do Porto (09/2018 - 09/2022)</p>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h2>LANGUAGES</h2>
        <p>Portuguese <span class="level">- Fluent</span></p>
        <p>English <span class="level"> Fluent - C1</span></p>
        <p>French <span class="level"> Intermediate - B1</span></p>
        <p>Spanish <span class="level"> Intermediate - B1</span></p>
    </div>

    
</div>

<app-footer></app-footer>