<div class="landing">
    <div class="container">
        <div class="row" style="margin-bottom: 50px; width: 100%; margin-left: 0px;">
            <div class="col text" style="padding-left: 0px;">
                <h5 class="title">Hello, I'm Paulo Pontes </h5>
                <h4 class="subtitle"> Full Stack Developer</h4>
                <h5 class="description"> I'm an autonomous and versatile developer with proven and tested software
                    developing skills and experience within multidisciplinary teams.
                    I'm also a developer who codes applications that <span class="text-highlight"> facilitate users'
                        experience</span>. I also have <span class="text-highlight">
                        experience in a wide variety of technologies</span>, and with a lot of eagerness to learn some
                    more. I commit code to <a class="github" href="https://github.com/paulopontes2231"
                        target="_blank">Github</a>
                </h5>
                <a href="#recent-projects">
                    <button class="button">
                        View Projects
                    </button>
                </a>
            </div>
            <div class="col hero-img" style="width: fit-content; max-width: fit-content; padding-right: 0px;">
                <img class="image" src="assets/icons/hero-image.png">
            </div>
        </div>
        <app-skillset></app-skillset>
    </div>
</div>