@import '../../../styles.scss';


:host {
    display: block;
    background-color: $base-color;
    min-height: 100%;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    max-width: fit-content;
    margin-inline: auto;
}

.highscore{
    color: $base-gold;
    font-size: 20px;
}

.question{
    color: white;
    font-size: 12px;
}

button {
    background-color: $base-dark;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    width: fit-content;
    max-width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    border: 0px;
    height: 40px;
}

.buttons{
    width: 200px;
    margin-inline: auto;
    display: flex;
    margin-top: 20px;
}

.negative{
    margin-left: auto;
}

.container{
    margin-top: 20px;
}

.positive:disabled {
  background-color: $base-dark; /* light gray when disabled */
  color: #666;
  cursor: not-allowed;
  opacity: 0.7; /* subtle fade */
}

.username{
    display: block;
    margin-inline: auto;
    background-color: $base-color;
    color: white;
    border-bottom: 1px white;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 200px;
    height: 40px;
    border-width: 0px 0px 1px 0;
    border-style: solid dotted solid double;
    border-color: #f00 #0f0 white #ff0;
    padding: 0 16px;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}