<h5 class="title">RECENT PROJECTS</h5>
<div class="container" style=" width: 100%; padding: 0px; max-width: 1200px;">
    <div class="row" style="margin-inline: auto; width: fit-content;">
        <div class="col" style="width: fit-content; max-width: fit-content;">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/fmRater.png">
                </div>
                <h6 class="cardtitle">FM Player Rater</h6>
                <div class="carddescription">An Angular app to rate Football Manager players objectively.</div>
                <a href="#/playerRater">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        <div class="col" style="width: fit-content; max-width: fit-content;">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/isItMonday.PNG">
                </div>
                <h6 class="cardtitle">Is it Monday?</h6>
                <div class="carddescription">Angular mini-game which goal is to guess the day of the week of a given
                    date.</div>
                <a href="#/isItMonday">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        
    </div>

    <div class="row" style="margin-inline: auto; width: fit-content;">
        <div class="col" style="width: fit-content; max-width: fit-content; ">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/sudokuSolver.PNG">
                </div>
                <h6 class="cardtitle">Sudoku Solver</h6>
                <div class="carddescription">An Angular app that solves Sudoku puzzles using a backtracking algorithm.</div>
                
                <a href="#/sudoku-solver">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        <div class="col" style="width: fit-content; max-width: fit-content;">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/gameOfLife.PNG">
                </div>
                <h6 class="cardtitle">Game of Life</h6>
                <div class="carddescription">An Angular app that simulates the Game of Life, a cellular automaton.</div>
                <a href="#/game-of-life">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        
    </div>



</div>
<h6 class="subtitle">If you would like to speak about any of these apps feel free to reach me out on LinkedIn.</h6>