<h5 class="title">RECENT PROJECTS</h5>
<div class="container" style=" width: 1200px; padding: 0px;">
    <div class="row" style="margin-inline: auto; width: fit-content;">
        <div class="col" style="width: fit-content; max-width: fit-content; padding-left: 0px; margin-right: auto;">
            <div class="cartolina" style="margin-left: 0px;">
                <div class="img">
                    <img class="image" src="assets/icons/fmRater.png">
                </div>
                <h6 class="cardtitle">FM Player Rater</h6>
                <div class="carddescription">An Angular app to rate Football Manager players objectively.</div>
                <a href="#/playerRater">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        <div class="col" style="width: fit-content; max-width: fit-content;">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/isItMonday.PNG">
                </div>
                <h6 class="cardtitle">Is it Monday?</h6>
                <div class="carddescription">Angular mini-game which goal is to guess the day of the week of a given
                    date.</div>
                <a href="#/isItMonday">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
        <div class="col" style="width: fit-content; max-width: fit-content; margin-left: auto; padding-right: 0px;">
            <div class="cartolina" style="margin-right: 0px;">
                <div class="img">
                    <img class="image" src="assets/icons/sudokuSolver.PNG">
                </div>
                <h6 class="cardtitle">Sudoku Solver</h6>
                <div class="carddescription">Angular and Typescript application that solves an incomplete sudoku grid.
                </div>
                <a href="#/sudoku-solver">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
    </div>



    <!-- <div class="row" style="margin-inline: auto; width: fit-content;">

        <div class="col" style="width: fit-content; max-width: fit-content; margin-left: auto; padding-right: 0px;">
            <div class="cartolina" >
                <div class="img">
                    <img class="image" src="assets/icons/teste.PNG">
                </div>
                <h6 class="cardtitle">NOVO PROJETO</h6>
                <div class="carddescription">NOVO PROJETO PLACEHOLDER
                </div>
                <a href="/sudoku-solver">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>


        <div class="col" style="width: fit-content; max-width: fit-content; margin-left: auto; padding-right: 0px;">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/teste.PNG">
                </div>
                <h6 class="cardtitle"> QuoteGuesser</h6>
                <div class="carddescription">QUOTEGUESSER PLACEHOLDER
                </div>
                <a href="/quoteguesser">
                    <button class="button">
                        Demo
                    </button>
                </a>
            </div>
        </div>
    </div>
 -->


</div>
<h6 class="subtitle"> If you would like to speak about any of these apps feel free to reach me out on LinkedIn.</h6>