/* You can add global styles to this file, and also import other style files */
$base-dark: #14242E;
$base-color: #1A2F3D;
$base-light: #95BFD8;
$base-gold: #FFD700;

html {
    background-color: $base-color;
}

body {
    margin: 0px;
}

.button {
    background-color: $base-dark;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    width: fit-content;
    max-width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    border: 0px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button:hover {
    transform: scale(1.07);
    cursor: pointer;
    color: $base-gold;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";