<h5 class="title">MY SKILL SET</h5>
<h6 class="subtitle"> THIS WEB APPLICATION WAS DEVELOPED USING ANGULAR, SCSS AND TYPESCRIPT</h6>
<div class="container" style="padding-bottom: 30px;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="width: fit-content; max-width: fit-content">
                    <div class="logo top left">
                        <img class="image" src="assets/icons/angular.png">
                    </div>
                </div>
                <div class="col text">
                    <div class="row area">
                        Front-end
                    </div>    
                    <div class="row specifics">
                       Angular, Typescript, React, HTML5, .NET
                    </div>    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="width: fit-content; max-width: fit-content">
                    <div class="logo top right">
                        <img class="image" src="assets/icons/nodejs.png">
                    </div>
                </div>
                <div class="col text">
                    <div class="row area">
                        Back-end
                    </div>    
                    <div class="row specifics">
                        Node, Express, SQL, MongoDB, Typescript, Java, C#, ASP.NET, SpringBoot 
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="width: fit-content; max-width: fit-content">
                    <div class="logo down left">
                        <img class="image" src="assets/icons/sass.png">
                    </div>
                </div>
                <div class="col text">
                    <div class="row area">
                        Style/Library
                    </div>    
                    <div class="row specifics">
                        CSS, SCSS, Bootstrap 
                    </div>    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="width: fit-content; max-width: fit-content">
                    <div class="logo down right">
                        <img class="image" src="assets/icons/git.png">
                    </div>
                </div>
                <div class="col text">
                    <div class="row area">
                        Additional
                    </div>    
                    <div class="row specifics">
                        Git, R, Python, Cypress, Postman 
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>