@import '../../../styles.scss';

:host {
    display: block;
    background-color: $base-color;
}

.title {
    width: fit-content;
    color: $base-gold;
    margin-inline: auto;
    padding-top: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    width: fit-content;
    color: $base-light;
    margin-inline: auto;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.cartolina {
    background-color: $base-dark;
    width: 270px;
    height: 300px;
}

.image {
    width: 240px;
    margin-top: 20px;
}

.img {
    margin-inline: auto;
    width: fit-content;
}

.cardTitle {
    color: $base-gold;
    font-weight: 600;
    width: fit-content;
    margin-inline: auto;
}

.cardJob {
    color: white;
    width: fit-content;
    margin-inline: auto;
    margin-top: 5px;
    font-weight: lighter;
}

.cardTechnologies {
    color: white;
    width: 220px;
    margin-inline: auto;
    margin-top: 25px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
}

.cardDates {
    color: $base-light;
    width: fit-content;
    margin-inline: auto;
    margin-top: 15px;
}

.cv {
    color: white;
    text-decoration: none;
}

.cv:hover {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 0 20px;
        /* Adapta o padding para evitar que os elementos sejam cortados */
    }

    .container {
        .row {
            flex-direction: column;
            /* Altera a direção dos elementos para empilhá-los verticalmente */
        }

        .cartolina {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 270px) {
    .cartolina {
        width: 100%;
    }

    .cardTechnologies {
        width: 100%;
    }
    .image {
        width: 100%;
    }
}