<h5 class="title">EXPERIENCE</h5>
<div id="recent-experience" class="container" style="padding-bottom: 40px; width: 100%;">
    <div class="row" style="margin-inline: auto; width: fit-content; max-width: fit-content;">
        <div class="col">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/natixis.png">
                </div>
                <div class="cardTitle"> Natixis in Portugal</div>
                <div class="cardJob"> Intern Developer</div>
                <div class="cardTechnologies">Technologies used: Typescript, Angular, Node.js, MongoDB</div>

                <div class="cardDates"> 03/2021 - 07/2021</div>
            </div>
        </div>
        <div class="col">
            <div class="cartolina">
                <div class="img">
                    <img class="image" src="assets/icons/natixis.png">
                </div>
                <div class="cardTitle"> Natixis in Portugal</div>
                <div class="cardJob"> Junior Developer</div>
                <div class="cardTechnologies">Technologies used: Typescript, Angular, Node.js, Java, SpringBoot, MongoDB, SQL</div>

                <div class="cardDates"> 10/2021 - Present</div>
            </div>
        </div>
    </div>
</div>